################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ShipController/.vs/ShipController
/ShipController/obj
/Tests/bin/Debug/netcoreapp3.1
/Tests/obj
